In [1]:
import gurobipy as gb
from gurobipy import *
import numpy as np

# Rummikub

In this script, we will demonstrate how our second model with the objective function of $\sum_{i=1}^{53} v_iy_i$ solve the Rummikub with one Joker in the rack and in two steps.

## Tiles Set up
$2*4*13 + joker*2$

### All tiles

In [2]:
Deck_types = ["Black", "Red", "Orange", "Blue"]
Deck_values = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
Joker = "Joker"
Joker_values = 30

In [3]:
tiles_pool = [(color, value) for color in Deck_types for value in Deck_values]
tiles_pool.append((Joker, Joker_values))

In [4]:
len(tiles_pool)

53

### All Possible Sets

In [5]:
# Adjusting the setup to consider only the deck color
Deck_colors = ["Black", "Red", "Blue", "Orange"]

# Generating all possible sets with three consecutive numbers
# and represent each card in the set using Deck_color and Deck_values
three_consecutive_set_no_joker = []

for value in Deck_values[:-2]:  # Iterate through the values, stopping two before the end
    for color in Deck_colors:
        # Create a set of three consecutive cards of the same color
        consecutive_set = [(color, value), (color, value + 1), (color, value + 2)]
        three_consecutive_set_no_joker.append(consecutive_set)

In [6]:
# Adjusting the setup to include one Joker in each set
# The Joker can replace any one of the three cards in the set

three_consecutive_set_one_joker = []
# Iterate through each color and value, creating sets with one Joker
for color in Deck_colors:
    for value in Deck_values[:-2]:  # Iterate through the values, stopping two before the end
        # For each set of three consecutive values, create three sets, each with one Joker
        if value == 1:
            for i in range(3):
                consecutive_set_one_joker = [(color, value), (color, value + 1), (color, value + 2)]
                consecutive_set_one_joker[i] = "Joker"  # Replace one card with a Joker
                three_consecutive_set_one_joker.append(consecutive_set_one_joker)
        else:
            for i in range(2):
                consecutive_set_one_joker = [(color, value), (color, value + 1), (color, value + 2)]
                consecutive_set_one_joker[i] = "Joker"  # Replace one card with a Joker
                three_consecutive_set_one_joker.append(consecutive_set_one_joker)

In [7]:
# Adjusting the setup to include exactly two Jokers in each set
# Each set will now consist of one card from the deck and two Jokers

# Generating all possible sets with one card from the deck and two Jokers
three_consecutive_sets_with_two_jokers = []

for color in Deck_colors:
    for value in Deck_values:  # Iterate through all values
        # Create a set with one card from the deck and two Jokers
        set_with_two_jokers = [(color, value), "Joker", "Joker"]
        three_consecutive_sets_with_two_jokers.append(set_with_two_jokers)

In [8]:
# Generating sets with four consecutive numbers, same color, and without Joker

four_consecutive_sets_no_joker = []

for color in Deck_colors:
    for value in Deck_values[:-3]:  # Iterate through values, stopping three before the end
        # Create a set of four consecutive cards of the same color
        consecutive_set = [(color, value), (color, value + 1), (color, value + 2), (color, value + 3)]
        four_consecutive_sets_no_joker.append(consecutive_set)

In [9]:
four_consecutive_sets_one_joker = []

for color in Deck_colors:
    for value in Deck_values[:-3]:  # Iterate through values, stopping three before the end
        # Create a set of four consecutive cards of the same color
        if value == 1:
            for i in range(4):
                consecutive_set = [(color, value), (color, value + 1), (color, value + 2), (color, value + 3)]
                consecutive_set[i] = "Joker"
                four_consecutive_sets_one_joker.append(consecutive_set)
        else:
            for i in range(3):
                consecutive_set = [(color, value), (color, value + 1), (color, value + 2), (color, value + 3)]
                consecutive_set[i] = "Joker"
                four_consecutive_sets_one_joker.append(consecutive_set)

In [10]:
four_consecutive_sets_two_joker = []

for color in Deck_colors:
    for value in Deck_values[:-3]:  # Iterate through values, stopping three before the end
        # Create a set of four consecutive cards of the same color
        if value == 1:
            for i in range(3):
                for j in range(i+1, 4):
                    consecutive_set = [(color, value), (color, value + 1), (color, value + 2), (color, value + 3)]
                    consecutive_set[i] = "Joker"
                    consecutive_set[j] = "Joker"
                    four_consecutive_sets_two_joker.append(consecutive_set)
        else:
            for i in range(2):
                for j in range(i+1, 3):
                    consecutive_set = [(color, value), (color, value + 1), (color, value + 2), (color, value + 3)]
                    consecutive_set[i] = "Joker"
                    consecutive_set[j] = "Joker"
                    four_consecutive_sets_two_joker.append(consecutive_set)

In [11]:
# Generating sets with five consecutive numbers, same color, and without Joker

five_consecutive_sets_no_joker = []

for color in Deck_colors:
    for value in Deck_values[:-4]:  # Iterate through values, stopping four before the end
        # Create a set of five consecutive cards of the same color
        consecutive_set = [(color, value), (color, value + 1), (color, value + 2), (color, value + 3), (color, value + 4)]
        five_consecutive_sets_no_joker.append(consecutive_set)

In [12]:
# Generating sets with five consecutive numbers, same color, and 1 Joker

five_consecutive_sets_one_joker = []

for color in Deck_colors:
    for value in Deck_values[:-4]:  # Iterate through values, stopping four before the end
        # Create a set of five consecutive cards of the same color
        if value == 1:
            for i in range(5):
                consecutive_set = [(color, value), (color, value + 1), (color, value + 2), (color, value + 3), (color, value + 4)]
                consecutive_set[i] = "Joker"
                five_consecutive_sets_one_joker.append(consecutive_set)
        else:
            for i in range(4):
                consecutive_set = [(color, value), (color, value + 1), (color, value + 2), (color, value + 3), (color, value + 4)]
                consecutive_set[i] = "Joker"
                five_consecutive_sets_one_joker.append(consecutive_set)

In [13]:
# Generating sets with five consecutive numbers, same color, and 2 Joker

five_consecutive_sets_two_joker = []

for color in Deck_colors:
    for value in Deck_values[:-4]:  # Iterate through values, stopping four before the end
        # Create a set of five consecutive cards of the same color
        if value == 1:
            for i in range(4):
                for j in range(i+1, 5):
                    consecutive_set = [(color, value), (color, value + 1), (color, value + 2), (color, value + 3), (color, value + 4)]
                    consecutive_set[i] = "Joker"
                    consecutive_set[j] = "Joker"
                    five_consecutive_sets_two_joker.append(consecutive_set)
        else:
            for i in range(3):
                for j in range(i+1, 4):
                    consecutive_set = [(color, value), (color, value + 1), (color, value + 2), (color, value + 3), (color, value + 4)]
                    consecutive_set[i] = "Joker"
                    consecutive_set[j] = "Joker"
                    five_consecutive_sets_two_joker.append(consecutive_set)

In [14]:
# Generating sets of three cards, each from a different color, without Jokers, and all cards having the same value

three_cards_different_colors_same_value = []

for value in Deck_values:
    # Iterate through combinations of three different colors
    for i in range(len(Deck_colors)):
        for j in range(i + 1, len(Deck_colors)):
            for k in range(j + 1, len(Deck_colors)):
                # Create a set with one card from each of the three different colors, all with the same value
                set_of_three = [(Deck_colors[i], value), (Deck_colors[j], value), (Deck_colors[k], value)]
                three_cards_different_colors_same_value.append(set_of_three)

In [15]:
# Generating sets of three cards, each from a different color, 1 Jokers, and all cards having the same value

three_cards_different_colors_1_joker = []

for value in Deck_values:
    # Iterate through combinations of three different colors
    for i in range(len(Deck_colors)):
        for j in range(i + 1, len(Deck_colors)):
            # Create a set with one card from each of the three different colors, all with the same value
            set_of_three = [(Deck_colors[i], value), (Deck_colors[j], value), "Joker"]
            three_cards_different_colors_1_joker.append(set_of_three)

In [16]:
four_cards_different_colors_same_value = []

for value in Deck_values:
    # Iterate through combinations of three different colors
    set_of_four = [(Deck_colors[0], value), (Deck_colors[1], value), (Deck_colors[2], value), (Deck_colors[3], value)]
    four_cards_different_colors_same_value.append(set_of_four)

In [17]:
# Generating sets of four cards, each from a different color, 1 Jokers, and all cards having the same value

four_cards_different_colors_1_joker = []

for value in Deck_values:
    # Iterate through combinations of three different colors
    for i in range(len(Deck_colors)):
        for j in range(i + 1, len(Deck_colors)):
            for k in range(j + 1, len(Deck_colors)):
                # Create a set with one card from each of the three different colors, all with the same value
                set_of_four = [(Deck_colors[i], value), (Deck_colors[j], value), (Deck_colors[k], value), "Joker"]
                four_cards_different_colors_1_joker.append(set_of_four)

In [18]:
# Generating sets of four cards, each from a different color, 2 Jokers, and all cards having the same value

four_cards_different_colors_2_joker = []

for value in Deck_values:
    # Iterate through combinations of three different colors
    for i in range(len(Deck_colors)):
        for j in range(i + 1, len(Deck_colors)):
            # Create a set with one card from each of the three different colors, all with the same value
            set_of_four = [(Deck_colors[i], value), (Deck_colors[j], value), "Joker", "Joker"]
            four_cards_different_colors_2_joker.append(set_of_four)

In [19]:
three_consecutives = three_consecutive_set_no_joker + three_consecutive_set_one_joker + three_consecutive_sets_with_two_jokers
four_consecutives = four_consecutive_sets_no_joker + four_consecutive_sets_one_joker + four_consecutive_sets_two_joker
five_consecutives = five_consecutive_sets_no_joker + five_consecutive_sets_one_joker + five_consecutive_sets_two_joker
three_same = three_cards_different_colors_same_value + three_cards_different_colors_1_joker
four_same = four_cards_different_colors_same_value + four_cards_different_colors_1_joker + four_cards_different_colors_2_joker
all_sets = three_consecutives + four_consecutives + five_consecutives + three_same + four_same

In [20]:
all_sets = list(reversed(all_sets))

In [21]:
len(all_sets)

1173

In [22]:
# Total number of tiles
I = len(tiles_pool)
# Total number of sets
J = len(all_sets)

### The real game

In [23]:
# specify the tiles currently in rack and on table
Rack = [("Orange", 1), ("Orange", 3), ("Orange", 4), ("Orange", 8), 
        ("Blue", 2), ("Black", 2), ("Black", 10), ("Black", 13), ("Joker", 30)]

Set = [[("Black", 1), ("Black", 2), ("Black", 3), ("Black", 4)], 
       [("Black", 10), ("Black", 11), ("Black", 12)],
       [("Orange", 6), ("Orange", 7), ("Orange", 8)], 
       [("Orange", 9), ("Orange", 10), ("Orange", 11), ("Orange", 12), ("Orange", 13)], 
       [("Blue", 7), ("Blue", 8), ("Blue", 9)], 
       [("Blue", 10), ("Blue", 11), ("Blue", 12)], 
       [("Red", 11), ("Red", 12), ("Red", 13)]]

Table = [card for set_ in Set for card in set_]

In [24]:
played_tiles = Rack + Table

## Model 2: Maximum total value of tiles played

In [25]:
model2 = gb.Model("Rummikub-M2")

Set parameter Username
Academic license - for non-commercial use only - expires 2024-08-30

## Decision Variable

### Parameters

In [26]:
# indicates whether tile i is in set j (yes = 1, no = 0),
S = np.zeros((I, J))
# tile i is 0, 1 or 2 times on the table
T = np.zeros(I)
# tile i is 0, 1 or 2 times on your rack
R = np.zeros(I)

### Variables

In [27]:
# how many times/whether a set/run combination can be formed by the tiles on table and in rack
X = model2.addVars(J, lb = 0, ub = 2, vtype = GRB.INTEGER, 
                  name = ["set " + str(all_sets[j]) + " can be placed onto the table" for j in range(J)])

# how many times a tile can be played
Y = model2.addVars(I, lb = 0, ub = 2, vtype = GRB.INTEGER, 
                  name = ["tile " + str(tiles_pool[i]) + " can be placed from your rack onto the table" for i in range(I)])

## Objective Function

In [28]:
score = quicksum(Y[i] * tiles_pool[i][1] for i in range(I))
model2.setObjective(score, GRB.MAXIMIZE)

## Constraints

In [29]:
# frequency of each tiles appeared in rack and on table
Counter_all_played_tiles = {}
for tile in Rack:
    if tile not in Counter_all_played_tiles.keys():
        Counter_all_played_tiles[tile] = 1
    else:
        Counter_all_played_tiles[tile] += 1

for tile in Table:
    if tile not in Counter_all_played_tiles.keys():
        Counter_all_played_tiles[tile] = 1
    else:
        Counter_all_played_tiles[tile] += 1

In [30]:
# frequency of each tile appeared in rack
Counter_rack = {}
for tile in Rack:
    if tile not in Counter_rack.keys():
        Counter_rack[tile] = 1
    else:
        Counter_rack += 1

In [31]:
# frequency of each tile appeared on table
Counter_table = {}
for tile in Table:
    if tile not in Counter_table.keys():
        Counter_table[tile] = 1
    else:
        Counter_table[tile] += 1

In [32]:
# Rack
for tile in Rack:
    i = tiles_pool.index(tile)
    
    # update T[i]
    if tile in Counter_table.keys(): 
        num_table = Counter_table[tile]
        T[i] = num_table
    else:
        T[i] =0
        
    # update R[i]
    num_rack = Counter_rack[tile]
    R[i] = num_rack
    
    # update S[i, j]
    for set_ in all_sets:
        j = all_sets.index(set_)
        if tile not in set_:
            S[i, j] = 0
        else:
            S[i, j] = 1

In [33]:
# Table
for tile in Table:
    i = tiles_pool.index(tile)
    
    # update R[i]
    if tile in Counter_rack.keys(): 
        num_rack = Counter_rack[tile]
        R[i] = num_rack
    else:
        R[i]=0
        
    # update T[i]
    num_table = Counter_table[tile]
    T[i]=num_table
    
    # update S[i, j]
    for set_ in all_sets:
        j = all_sets.index(set_)
        if tile not in set_:
            S[i, j]=0
        else:
            S[i, j]=1

In [34]:
# Account for all sets containing Joker
if ("Joker", 30) in Counter_all_played_tiles:
    num_joker = Counter_all_played_tiles[("Joker", 30)]
    for set_ in all_sets:
            j = all_sets.index(set_)
            # if only have 1 Joker tile both on table and in rack, set S[i, j] = 0 for all j's with 2 Jokers
            if set_.count("Joker") == 2 and num_joker == 1:  
                for i in range(I):
                    S[i, j] = 0

In [35]:
# Account for all tiles not in rack or not on table
not_in_rack_table = []
for tile in tiles_pool:
    if tile not in Rack and tile not in Table:
        not_in_rack_table.append(tile)

In [36]:
for tile in not_in_rack_table:
    i = tiles_pool.index(tile)
    
    # update T[i] and R[i]
    T[i] = 0
    R[i] = 0
    
    # update X[i] and S[i, j]
    for set_ in all_sets:
        if tile in set_:
            j = all_sets.index(set_)
            model2.addConstr(X[j] == 0)
            S[i, j] = 1

### Default constraints

In [37]:
for i in range(I):
    sx_sum = quicksum(S[i, j] * X[j] for j in range(J))
    model2.addConstr(sx_sum == T[i] + Y[i])

In [38]:
# the number of times a tile can be played is less than the number of times the tile in the rack
for i in range(I):
    model2.addConstr(Y[i] <= R[i])

## Optimize

In [39]:
model2.optimize()
model2.status

Gurobi Optimizer version 10.0.3 build v10.0.3rc0 (mac64[x86])

CPU model: Intel(R) Core(TM) i9-9880H CPU @ 2.30GHz
Thread count: 8 physical cores, 16 logical processors, using up to 16 threads

Optimize a model with 1672 rows, 1226 columns and 4366 nonzeros
Model fingerprint: 0xa524fcea
Variable types: 0 continuous, 1226 integer (0 binary)
Coefficient statistics:
  Matrix range     [1e+00, 1e+00]
  Objective range  [1e+00, 3e+01]
  Bounds range     [2e+00, 2e+00]
  RHS range        [1e+00, 1e+00]
Found heuristic solution: objective 15.0000000
Presolve removed 1644 rows and 1074 columns
Presolve time: 0.00s
Presolved: 28 rows, 152 columns, 430 nonzeros
Variable types: 0 continuous, 152 integer (152 binary)
Found heuristic solution: objective 23.0000000

Root relaxation: objective 4.300000e+01, 30 iterations, 0.00 seconds (0.00 work units)

    Nodes    |    Current Node    |     Objective Bounds      |     Work
 Expl Unexpl |  Obj  Depth IntInf | Incumbent    BestBd   Gap | It/Node Time

H    0     0                      43.0000000  192.00000   347%     -    0s
     0     0          -    0        43.00000   43.00000  0.00%     -    0s

Explored 1 nodes (55 simplex iterations) in 0.02 seconds (0.00 work units)
Thread count was 16 (of 16 available processors)

Solution count 3: 43 23 15

Optimal solution found (tolerance 1.00e-04)
Best objective 4.300000000000e+01, best bound 4.300000000000e+01, gap 0.0000%

2

In [40]:
model2.objVal

43.0

In [41]:
for j in range(J):
    if X[j].x != 0:
        print(X[j].varName, X[j].x)
# This shows all the possible sets that maximize the objective function 
# and could form using the tiles in the rack and on the table

set [('Black', 13), ('Red', 13), ('Orange', 13), 'Joker'] can be placed onto the table 1.0
set [('Blue', 12), ('Orange', 12), 'Joker'] can be placed onto the table 1.0
set [('Black', 12), ('Red', 12), 'Joker'] can be placed onto the table 1.0
set [('Red', 11), ('Blue', 11), 'Joker'] can be placed onto the table 1.0
set [('Black', 10), ('Blue', 10), 'Joker'] can be placed onto the table 1.0
set [('Blue', 8), ('Orange', 8), 'Joker'] can be placed onto the table 1.0
set [('Black', 2), ('Blue', 2), 'Joker'] can be placed onto the table 1.0
set [('Orange', 4), 'Joker', ('Orange', 6), ('Orange', 7)] can be placed onto the table 1.0
set [('Orange', 9), 'Joker', ('Orange', 11)] can be placed onto the table 1.0
set [('Orange', 8), 'Joker', ('Orange', 10)] can be placed onto the table 1.0
set [('Orange', 1), 'Joker', ('Orange', 3)] can be placed onto the table 1.0
set [('Blue', 7), 'Joker', ('Blue', 9)] can be placed onto the table 1.0
set ['Joker', ('Black', 10), ('Black', 11)] can be placed onto the table 1.0
set ['Joker', ('Black', 3), ('Black', 4)] can be placed onto the table 1.0
set [('Black', 1), ('Black', 2), 'Joker'] can be placed onto the table 1.0

In [42]:
for i in range(I):
    if Y[i].x != 0:
        print(Y[i].varName, Y[i].x)
# This shows all the possible moves of the tiles in the rack

tile ('Black', 2) can be placed from your rack onto the table 1.0
tile ('Black', 10) can be placed from your rack onto the table 1.0
tile ('Black', 13) can be placed from your rack onto the table 1.0
tile ('Orange', 1) can be placed from your rack onto the table 1.0
tile ('Orange', 3) can be placed from your rack onto the table 1.0
tile ('Orange', 4) can be placed from your rack onto the table 1.0
tile ('Orange', 8) can be placed from your rack onto the table 1.0
tile ('Blue', 2) can be placed from your rack onto the table 1.0

## Remove Joker set and rerun

The above solution shows the possible sets we could form, with Joker in most cases. However, we only want one Joker appears in our solution. Since we want to maximize the total value on the table, we decide to choose the set with Joker that has the highest value, then remove all the tile of this set from the rack and the table, rerun the model to optimize the rest of the tiles.

In [43]:
# Max V_i*Y_i
selected_set = []
for j in range(J):
    if X[j].x != 0:
        if "Joker" in all_sets[j]:
            selected_set.append(all_sets[j])

best_set = selected_set[0]
best_value = 0
for tile in best_set:
    if tile == "Joker":
        best_value += 30
    else:
        best_value += tile[1]
    
for set_ in selected_set:
    value = 0
    for tile in set_:
        if tile == "Joker":
            value += 30
        else:
            value += tile[1]
    if value >= best_value:
        best_set = set_
        best_value = value

In [44]:
selected_set

[[('Black', 13), ('Red', 13), ('Orange', 13), 'Joker'],
 [('Blue', 12), ('Orange', 12), 'Joker'],
 [('Black', 12), ('Red', 12), 'Joker'],
 [('Red', 11), ('Blue', 11), 'Joker'],
 [('Black', 10), ('Blue', 10), 'Joker'],
 [('Blue', 8), ('Orange', 8), 'Joker'],
 [('Black', 2), ('Blue', 2), 'Joker'],
 [('Orange', 4), 'Joker', ('Orange', 6), ('Orange', 7)],
 [('Orange', 9), 'Joker', ('Orange', 11)],
 [('Orange', 8), 'Joker', ('Orange', 10)],
 [('Orange', 1), 'Joker', ('Orange', 3)],
 [('Blue', 7), 'Joker', ('Blue', 9)],
 ['Joker', ('Black', 10), ('Black', 11)],
 ['Joker', ('Black', 3), ('Black', 4)],
 [('Black', 1), ('Black', 2), 'Joker']]

In [45]:
set_with_joker = best_set

In [46]:
set_with_joker # this is the set with the highest value and have Joker in it

[('Black', 13), ('Red', 13), ('Orange', 13), 'Joker']

In [47]:
new_rack = []
for tile_ in Rack:
    if tile_ not in best_set and tile_ != ('Joker', 30):
        new_rack.append(tile_)
        
new_rack

[('Orange', 1),
 ('Orange', 3),
 ('Orange', 4),
 ('Orange', 8),
 ('Blue', 2),
 ('Black', 2),
 ('Black', 10)]

In [48]:
new_table = []
for tile_ in Table:
    if tile_ not in best_set and tile_ != ('Joker', 30):
        new_table.append(tile_)
        
new_table

[('Black', 1),
 ('Black', 2),
 ('Black', 3),
 ('Black', 4),
 ('Black', 10),
 ('Black', 11),
 ('Black', 12),
 ('Orange', 6),
 ('Orange', 7),
 ('Orange', 8),
 ('Orange', 9),
 ('Orange', 10),
 ('Orange', 11),
 ('Orange', 12),
 ('Blue', 7),
 ('Blue', 8),
 ('Blue', 9),
 ('Blue', 10),
 ('Blue', 11),
 ('Blue', 12),
 ('Red', 11),
 ('Red', 12)]

### Set up

In [49]:
three_consecutives = three_consecutive_set_no_joker
four_consecutives = four_consecutive_sets_no_joker
five_consecutives = five_consecutive_sets_no_joker
three_same = three_cards_different_colors_same_value
four_same = four_cards_different_colors_same_value
new_sets = three_consecutives + four_consecutives + five_consecutives + three_same + four_same
# Since there's no Joker anymore, our new sets would only be the sets without joker

In [50]:
# Total number of tiles
I = len(tiles_pool)
# Total number of sets
J = len(new_sets)

### Objective function and decision variables

In [51]:
model2_1 = gb.Model("Rummikub-M2-Step2")

S = np.zeros((I, J))
T = np.zeros(I)
R = np.zeros(I)

# how many times/whether a set/run combination can be formed by the tiles on table and in rack
X = model2.addVars(J, lb = 0, ub = 2, vtype = GRB.INTEGER, 
                  name = ["set " + str(all_sets[j]) + " can be placed onto the table" for j in range(J)])

# how many times a tile can be played
Y = model2.addVars(I, lb = 0, ub = 2, vtype = GRB.INTEGER, 
                  name = ["tile " + str(tiles_pool[i]) + " can be placed from your rack onto the table" for i in range(I)])

score = quicksum(Y[i] * tiles_pool[i][1] for i in range(I))
model2.setObjective(score, GRB.MAXIMIZE)

### Constraints

In [52]:
# frequency of each tiles appeared in rack and on table
Counter_all_played_tiles = {}
for tile in new_rack:
    if tile not in Counter_all_played_tiles.keys():
        Counter_all_played_tiles[tile] = 1
    else:
        Counter_all_played_tiles[tile] += 1

for tile in new_table:
    if tile not in Counter_all_played_tiles.keys():
        Counter_all_played_tiles[tile] = 1
    else:
        Counter_all_played_tiles[tile] += 1

In [53]:
# frequency of each tile appeared in rack
Counter_rack = {}
for tile in new_rack:
    if tile not in Counter_rack.keys():
        Counter_rack[tile] = 1
    else:
        Counter_rack += 1

In [54]:
# frequency of each tile appeared on table
Counter_table = {}
for tile in new_table:
    if tile not in Counter_table.keys():
        Counter_table[tile] = 1
    else:
        Counter_table[tile] += 1

In [55]:
# Rack
for tile in new_rack:
    i = tiles_pool.index(tile)
    
    # update T[i]
    if tile in Counter_table.keys(): 
        num_table = Counter_table[tile]
        #model1.addConstr(T[i] == num_table)
        T[i] = num_table
    else:
        #model1.addConstr(T[i] == 0)
        T[i] =0
        
    # update R[i]
    num_rack = Counter_rack[tile]
    #model1.addConstr(R[i] == num_rack)
    R[i] = num_rack
    
    # update S[i, j]
    for set_ in new_sets:
        j = new_sets.index(set_)
        if tile not in set_:
            #model1.addConstr(S[i, j] == 0)
            S[i, j] = 0
        else:
            #model1.addConstr(S[i, j] == 1)
            S[i, j] = 1

In [61]:
# Table
for tile in new_table:
    i = tiles_pool.index(tile)
    
    # update R[i]
    if tile in Counter_rack.keys(): 
        num_rack = Counter_rack[tile]
        R[i] = num_rack
    else:
        R[i]=0
        
    # update T[i]
    num_table = Counter_table[tile]
    T[i]=num_table
    
    # update S[i, j]
    for set_ in new_sets:
        j = new_sets.index(set_)
        if tile not in set_:
            S[i, j]=0
        else:
            S[i, j]=1

In [62]:
# Account for all tiles not in rack or not on table
not_in_rack_table = []
for tile in tiles_pool:
    if tile not in new_rack and tile not in new_table:
        not_in_rack_table.append(tile)

In [64]:
for tile in not_in_rack_table:
    i = tiles_pool.index(tile)
    
    # update T[i] and R[i]
    T[i] = 0
    R[i] = 0
    
    # update X[i] and S[i, j]
    for set_ in new_sets:
        
        if tile in set_:
            j = new_sets.index(set_)
            model2_1.addConstr(X[j] == 0)
            S[i, j] = 1

In [65]:
# The left-hand side adds up the number of tile i present in the sets that are finally on the table.
# The right-hand side denotes number of tile i that are already on the table plus that are placed from 
# the rack onto the table.
for i in range(I):
    sx_sum = quicksum(S[i, j] * X[j] for j in range(J))
    model2_1.addConstr(sx_sum == T[i] + Y[i])
    
# the number of times a tile can be played is less than the number of times the tile in the rack
for i in range(I):
    model2_1.addConstr(Y[i] <= R[i])

### Optimize

In [66]:
model2_1.optimize()
model2_1.status

Gurobi Optimizer version 10.0.3 build v10.0.3rc0 (mac64[x86])

CPU model: Intel(R) Core(TM) i9-9880H CPU @ 2.30GHz
Thread count: 8 physical cores, 16 logical processors, using up to 16 threads

Optimize a model with 447 rows, 238 columns and 1127 nonzeros
Model fingerprint: 0x42dc21f8
Variable types: 0 continuous, 238 integer (0 binary)
Coefficient statistics:
  Matrix range     [1e+00, 1e+00]
  Objective range  [1e+00, 3e+01]
  Bounds range     [2e+00, 2e+00]
  RHS range        [1e+00, 1e+00]
Found heuristic solution: objective -0.0000000
Presolve removed 447 rows and 238 columns
Presolve time: 0.00s
Presolve: All rows and columns removed

Explored 0 nodes (0 simplex iterations) in 0.01 seconds (0.00 work units)
Thread count was 1 (of 16 available processors)

Solution count 2: 10 -0

Optimal solution found (tolerance 1.00e-04)
Best objective 1.000000000000e+01, best bound 1.000000000000e+01, gap 0.0000%

2

In [67]:
model2_1.objVal

10.0

In [68]:
for j in range(J):
    if X[j].x != 0:
        print(X[j].varName, X[j].x)

set [('Red', 9), ('Blue', 9), 'Joker', 'Joker'] can be placed onto the table 1.0
set [('Blue', 7), ('Orange', 7), 'Joker', 'Joker'] can be placed onto the table 1.0
set [('Red', 6), ('Blue', 6), 'Joker', 'Joker'] can be placed onto the table 1.0
set [('Black', 13), ('Blue', 13), ('Orange', 13), 'Joker'] can be placed onto the table 1.0
set [('Black', 11), ('Orange', 11), 'Joker'] can be placed onto the table 1.0
set [('Red', 10), ('Blue', 10), 'Joker'] can be placed onto the table 1.0
set [('Blue', 9), ('Orange', 9), 'Joker'] can be placed onto the table 1.0

In [69]:
set_with_joker # [('Black', 13), ('Red', 13), ('Orange', 13), 'Joker']

[('Black', 13), ('Red', 13), ('Orange', 13), 'Joker']

In [70]:
for i in range(I):
    if Y[i].x != 0:
        print(Y[i].varName, Y[i].x)

tile ('Black', 10) can be placed from your rack onto the table 1.0